
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    background: #020010;
    /* background: #02000a; */
    /* background: #000000; */
    /* font-family: "Croissant One", cursive; */
    font-family: "Comic Sans MS", "Comic Sans", "Ubuntu", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  
  body,
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }